In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import datasets
df = pd.read_csv('C:/Users/HP/Desktop/Traineeship/data_OMI/Mun_Population_Area.csv')

df.info()

# Drop ID column
df = df.drop(columns=['Comune (ID)'])

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8996 entries, 0 to 8995
Data columns (total 52 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Comune (ID)                                       8996 non-null   int64
 1   Comune                                            8995 non-null   object
 2   2024 Popolazione al 1º gennaio (numero abitanti)  7899 non-null   float64
 3   2024 Superficie (kmq)                             7892 non-null   float64
 4   2023 Popolazione al 1º gennaio (numero abitanti)  7895 non-null   float64
 5   2023 Superficie (kmq)                             7901 non-null   float64
 6   2022 Popolazione al 1º gennaio (numero abitanti)  7904 non-null   float64
 7   2022 Superficie (kmq)                             7904 non-null   float64
 8   2021 Popolazione al 1º gennaio (numero abitanti)  7903 non-null   float64
 9   2021 Superficie (kmq)                             7903 non-null   float64
 10  2020 Popolazione al 1º gennaio (numero abitanti)  7904 non-null   float64
 11  2020 Superficie (kmq)                             7904 non-null   float64
 12  2019 Popolazione al 1º gennaio (numero abitanti)  7926 non-null   float64
 13  2019 Superficie (kmq)                             7926 non-null   float64
 14  2018 Popolazione al 1º gennaio (numero abitanti)  7960 non-null   float64
 15  2018 Superficie (kmq)                             7960 non-null   float64
 16  2017 Popolazione al 1º gennaio (numero abitanti)  7983 non-null   float64
 17  2017 Superficie (kmq)                             7983 non-null   float64
 18  2016 Popolazione al 1º gennaio (numero abitanti)  8003 non-null   float64
 19  2016 Superficie (kmq)                             8003 non-null   float64
 20  2015 Popolazione al 1º gennaio (numero abitanti)  8048 non-null   float64
 21  2015 Superficie (kmq)                             8048 non-null   float64
 22  2014 Popolazione al 1º gennaio (numero abitanti)  8071 non-null   float64
 23  2014 Superficie (kmq)                             8071 non-null   float64
 24  2013 Popolazione al 1º gennaio (numero abitanti)  8092 non-null   float64
 25  2013 Superficie (kmq)                             8092 non-null   float64
 26  2012 Popolazione al 1º gennaio (numero abitanti)  8092 non-null   float64
 27  2012 Superficie (kmq)                             8092 non-null   float64
 28  2011 Popolazione al 1º gennaio (numero abitanti)  8092 non-null   float64
 29  2011 Superficie (kmq)                             8092 non-null   float64
 30  2010 Popolazione al 1º gennaio (numero abitanti)  8094 non-null   float64
 31  2010 Superficie (kmq)                             8094 non-null   float64
 32  2009 Popolazione al 1º gennaio (numero abitanti)  8100 non-null   float64
 33  2009 Superficie (kmq)                             8100 non-null   float64
 34  2008 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 35  2008 Superficie (kmq)                             8101 non-null   float64
 36  2007 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 37  2007 Superficie (kmq)                             8101 non-null   float64
 38  2006 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 39  2006 Superficie (kmq)                             8101 non-null   float64
 40  2005 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 41  2005 Superficie (kmq)                             8101 non-null   float64
 42  2004 Popolazione al 1º gennaio (numero abitanti)  8100 non-null   float64
 43  2004 Superficie (kmq)                             8100 non-null   float64
 44  2003 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 45  2003 Superficie (kmq)                             8101 non-null   float64
 46  2002 Popolazione al 1º gennaio (numero abitanti)  8102 non-null   float64
 47  2002 Superficie (kmq)                             8102 non-null   float64
 48  2001 Popolazione al 1º gennaio (numero abitanti)  8101 non-null   float64
 49  2001 Superficie (kmq)                             8101 non-null   float64
 50  1991 Popolazione al 1º gennaio (numero abitanti)  8100 non-null   float64
 51  1991 Superficie (kmq)                             8100 non-null   float64
dtypes: float64(50), int64(1), object(1)
memory usage: 3.6+ MB

,Comune,2024 Popolazione al 1º gennaio (numero abitanti),2024 Superficie (kmq),2023 Popolazione al 1º gennaio (numero abitanti),2023 Superficie (kmq),2022 Popolazione al 1º gennaio (numero abitanti),2022 Superficie (kmq),2021 Popolazione al 1º gennaio (numero abitanti),2021 Superficie (kmq),2020 Popolazione al 1º gennaio (numero abitanti),...,2004 Popolazione al 1º gennaio (numero abitanti),2004 Superficie (kmq),2003 Popolazione al 1º gennaio (numero abitanti),2003 Superficie (kmq),2002 Popolazione al 1º gennaio (numero abitanti),2002 Superficie (kmq),2001 Popolazione al 1º gennaio (numero abitanti),2001 Superficie (kmq),1991 Popolazione al 1º gennaio (numero abitanti),1991 Superficie (kmq)
0,Agliè,2596.0,13.1463,2568.0,13.1463,2562.0,13.1463,2545.0,13.1462,2621.0,...,2588.0,13.146200,2538.0,13.146200,2557.0,13.146200,2574.0,13.146200,2623.0,13.351700
1,Airasca,3686.0,15.7393,3669.0,15.7393,3660.0,15.7393,3633.0,15.7393,3598.0,...,3605.0,15.739300,3544.0,15.739300,3543.0,15.739300,3554.0,15.739300,3252.0,15.660800
2,Ala di Stura,472.0,46.3316,464.0,46.3316,467.0,46.3316,459.0,46.3315,441.0,...,461.0,46.331501,468.0,46.331501,480.0,46.331501,479.0,46.331501,503.0,45.860401
3,Albiano d'Ivrea,1617.0,11.7397,1628.0,11.7397,1637.0,11.7397,1638.0,11.7314,1644.0,...,1702.0,11.731400,1673.0,11.731400,1687.0,11.731400,1696.0,11.731500,1701.0,11.695500
4,Alice Superiore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.0,7.379600,616.0,7.379600,619.0,7.379600,616.0,7.379600,601.0,7.159100

In [3]:
# Rename columns
df = df.rename(columns={'Comune': 'mun_name'})

tidy = []
for col in df.columns:
    if "Popolazione" in col:
        year = col.split()[0]
        tidy.append(
            df[["mun_name", col, f"{year} Superficie (kmq)"]]
            .rename(columns={
                col: "population",
                f"{year} Superficie (kmq)": "surface"
            })
            .assign(year=int(year))
        )

# Concatenate into a long dataframe
df_long = pd.concat(tidy, ignore_index=True)

# Final clean ordering
df_long = df_long[["mun_name", "year", "population", "surface"]]

df_long.head(10)

          mun_name  year  population  surface
0            Agliè  2024      2596.0  13.1463
1          Airasca  2024      3686.0  15.7393
2     Ala di Stura  2024       472.0  46.3316
3  Albiano d'Ivrea  2024      1617.0  11.7397
4  Alice Superiore  2024         NaN      NaN
5           Almese  2024      6315.0  17.8741
6          Alpette  2024       246.0   5.6311
7        Alpignano  2024     16587.0  11.9193
8         Andezeno  2024      2001.0   7.4859
9          Andrate  2024       467.0   9.3090

In [4]:
df_long.to_csv('datasets/municipality_data.csv')