In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged_real_estate.csv', sep=',', encoding='utf-8-sig')

Selecting columns

In [3]:
col = ['Comune_cat','Sez','Fascia','LinkZona','Cod_Tip','Stato_prev','Sup_NL_compr','Sup_NL_loc','Unnamed: 21']
df_sel = df.drop(columns=col)

df_sel.head()

,Area_territoriale,Regione,Prov,Comune_ISTAT,Comune_amm,Comune_descrizione,Zona,Descr_Tipologia,Stato,Compr_min,Compr_max,Loc_min,Loc_max,building_id,semester
0,NORD-OVEST,PIEMONTE,AL,1006003.0,A182,ALESSANDRIA,B1,Abitazioni civili,NORMALE,1110.0,1670.0,3.7,5.6,49ae6c3b9210e9ce483b3da239404b03,2004_S1
1,NORD-OVEST,PIEMONTE,AL,1006003.0,A182,ALESSANDRIA,B1,Box,NaN,1010.0,1520.0,4.3,6.4,b8a6d49c00cfccc9945c9682af6e2ce7,2004_S1
2,NORD-OVEST,PIEMONTE,AL,1006003.0,A182,ALESSANDRIA,B1,Posti auto coperti,NaN,610.0,840.0,2.5,3.5,49909caa3d2f6b911f4d96a7e8f513c8,2004_S1
3,NORD-OVEST,PIEMONTE,AL,1006003.0,A182,ALESSANDRIA,B1,Posti auto scoperti,NaN,490.0,660.0,2.0,2.7,d639e80a8bea8be09100d806553fd506,2004_S1
4,NORD-OVEST,PIEMONTE,AL,1006003.0,A182,ALESSANDRIA,B1,Magazzini,NORMALE,1180.0,1410.0,5.4,6.5,0c6e3981bfe25e19524f2ba2426291b4,2004_S1

Translating

In [4]:
# Define all column renames
column_renames = {
    "Area_territoriale": "area",
    "Regione": "region",
    "Prov": "prov",
    "Comune_ISTAT": "mun_istat",
    "Comune_amm": "mun_cad",
    "Comune_descrizione": "mun_name",
    "Zona": "omi",
    "Descr_Tipologia": "type",
    "Stato": "state",
    "Compr_min": "buy_min",
    "Compr_max": "buy_max",
    "Loc_min": "rent_min",
    "Loc_max": "rent_max",
    "building_id": "id"
}

df_sel = df_sel.rename(columns=column_renames)

# Apply value mappings
df_sel["area"] = df_sel["area"].replace({
    "NORD-OVEST": "NW",
    "NORD-EST": "NE",
    "CENTRO": "C",
    "ISOLE": "I",
    "SUD": "S"
})

df_sel["type"] = df_sel["type"].replace({
    "Abitazioni civili": "Residential housing",
    "Box": "Garage / Box",
    "Ville e Villini": "Villas and small houses",
    "Negozi": "Shops",
    "Abitazioni di tipo economico": "Low-cost housing",
    "Magazzini": "Warehouses",
    "Uffici": "Offices",
    "Laboratori": "Laboratories",
    "Capannoni tipici": "Typical industrial buildings",
    "Capannoni industriali": "Industrial buildings",
    "Autorimesse": "Garages",
    "Posti auto scoperti": "Uncovered parking spaces",
    "Posti auto coperti": "Covered parking spaces",
    "Centri commerciali": "Shopping centers",
    "Uffici strutturati": "Structured offices",
    "Abitazioni tipiche dei luoghi": "Typical local housing",
    "Abitazioni signorili": "Luxury housing",
    "Pensioni e assimilati": "Guesthouses and similar",
    "Fabbricati e locali per esercizi sportivi": "Sports facilities"
})

df_sel["state"] = df_sel["state"].replace({
    "NORMALE": "Normal",
    "OTTIMO": "Excellent",
    "SCADENTE": "Poor"
})

Ordering variables

In [5]:
new_order = [
    "id", "semester", "area", "region", "prov", "mun_istat", "mun_cad", "mun_name",
    "omi", "type", "state", "buy_min", "buy_max", "rent_min", "rent_max"
]

df_sel = df_sel[new_order]

In [6]:
df_sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6701636 entries, 0 to 6701635
Data columns (total 15 columns):
 #   Column     Dtype
---  ------     -----
 0   id         object
 1   semester   object
 2   area       object
 3   region     object
 4   prov       object
 5   mun_istat  float64
 6   mun_cad    object
 7   mun_name   object
 8   omi        object
 9   type       object
 10  state      object
 11  buy_min    float64
 12  buy_max    float64
 13  rent_min   float64
 14  rent_max   float64
dtypes: float64(5), object(10)
memory usage: 766.9+ MB